/* Reset default margin and padding */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #f5f5f5;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	text-decoration-style: wavy;
}

/* Style the header */
header {
	color: #333;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Style the total expenses container */
.total-expenses-container {
	background-color: #fff;
	color: #333;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	margin: 1rem;
}

/* Style the main content */
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;

	display: flex;
	flex-direction: column;
}

hr {
	opacity: 0.3;
	margin: 1rem 0;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.switch {
	display: flex;
	align-items: center;
	gap: 10px;
}

.switch p {
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.toggle {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.toggle input {
	display: none;
}
.toggle-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
}

.toggle-slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .toggle-slider {
	background-color: #007bff;
}

input:focus + .toggle-slider {
	box-shadow: 0 0 1px #007bff;
}

input:checked + .toggle-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

h1 {
	margin: 10px 0;
}

form {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 2rem 0;
	width: 100%;
}

.field {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	gap: 0.5rem;
	flex: 1;
}

label {
	display: block;
	width: 100%;
	max-width: 200px;
	font-weight: bold;
}

input[type='text'],
input[type='number'],
input[type='date'] {
	width: 100%;
	max-width: 300px;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	font-size: 1rem;
}

button[type='submit'] {
	padding: 0.5rem 1rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	font-weight: bold;
}

button[type='submit']:hover {
	background-color: #0067d5;
}

svg {
	color: white;
	pointer-events: none;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: none;
	flex: 1;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #007bff;
	color: white;
}

th,
td {
	padding: 0.5rem;
	text-align: left;
}

td {
	border: 1px solid #ccc;
	border-top: none;
}

th:last-child {
	border-radius: 0 0.5rem 0 0;
	text-align: center;
}

td:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

th:first-child,
td:first-child {
	width: 40%;
	border-radius: 0.5rem 0 0 0;
}

th:nth-child(2),
td:nth-child(2) {
	width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
	width: 20%;
}

.btn-update,
.btn-delete {
	padding: 0.5rem 1rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
}

.btn-delete {
	background-color: #dc3545;
}

@media screen and (max-width: 720px) {
	header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	main {
		padding: 1rem;
	}

	form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	label {
		font-size: 14px;
	}

	input[type='text'],
	input[type='number'],
	input[type='date'] {
		max-width: 100%;
	}

	table {
		max-width: 95vw;
	}

	td:first-child {
		max-width: 36vw;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	td:last-child {
		flex-direction: column;
	}
}
